* {
    font-family: Helvetica, sans-serif;
}

title {
    font-size: 2.5em;
    font-style: bold;
    font-family: Roboto Slab, serif;;
    display: swap;
    color:burlywood
}

nav, footer {
    background-color: #F2F0A1;
    border-bottom: 1px solid #FCC89B;
}

nav > a {
    color: #FCC89B;
    padding: 1em;
    font-style: bold;
    font-size: 1.5em;
}

body {
    background-color: #ba9ac3;
}

img{
    width: 300px;
    height: 400px;
}

li {
    font-style: bold;
    font-size: 2em;
}

li > a:hover {
    background-color: #F2F0A1;
}

a:visited {
    background-color: #ffffff;
}

li > a {
    color: #FCC89B;
    font-size: 1.2em;
    font-style: italic;
}

ul {
    list-style-type: none;
}

article {
    background-color: #FFFFFF;
    border: 1px solid #F2F0A1 dashed;
    padding: 1em;
    margin: 1em;
    width:95%;
    height:100%;
    display: inline-block;
}

embed {
    display: block;
    position: absolute;
    block-size: 100%;
    width: 95%;
    height: 100%;
}